{% extends 'dictionary/base.html' %}

{% block title %}{{ entry.latin_strict }} — Chaghatay Dictionary{% endblock %}

{% block content %}
<article class="entry-detail">
    <h2>
        <span class="persoarabic" dir="rtl">{{ entry.persoarabic }} {% if entry.homograph_index %}<sup>{{ entry.homograph_index }}</sup>{% endif %}</span>
        <span class="latin-strict">⟨{{ entry.latin_strict }}⟩</span>
    </h2>

    {% if entry.latin_phonetic %}
    <div class="phonetic">Phonetic Reconstruction: <span class="latin-phonetic">{{ entry.latin_phonetic }}</span></div>
    {% endif %}
    <div>
        <span>Nastaliq: </span><span class="nastaliq">{{ entry.persoarabic }}</span>
    </div>

    {% if entry.alternatespelling_set.all %}
    <section class="alternatespellings">
        <h3>Alternate Spellings</h3>
        <ul>
            {% for spelling in entry.alternatespelling_set.all %}
            <li><span class="persoarabic" dir="rtl">{{ spelling.persoarabic }}</span>, <span>{{ spelling.latin_strict }}</span></li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% for group in entry.grouped_definitions %}
    <div class="pos-group">
        <h4 class="pos-label">{{ group.pos }}</h4>
        <ol class="definition-list">
        {% for def in group.definitions %}
            <li>
            {{ def.definition_text | safe}}
            {% if def.source %}
                <span class="def-source">({{ def.source.shortname }})</span>
            {% endif %}
                {% if def.usageexample_set.all %}
                <ul>
                    {% for example in def.usageexample_set.all %}
                        <li>
                            <div class="persoarabic" dir="rtl">{{ example.persoarabic | safe }}</div>
                            <div class="latin-strict">{{ example.latin_strict | safe}}</div>
                            <div class="gloss">{{ example.gloss | safe}}</div>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ol>
    </div>
    {% endfor %}

    {% if entry.etymology_set.all %}
    <section class="etymology">
        <h3>Etymology</h3>
        <ol>
            {% for step in entry.etymology_set.all %}
                {% if step.language.name == "Arabic" or step.language.name == "Persian" %}
                    <li>{{ step.language }}: <span class="persoarabic" dir="rtl">{{ step.word }}</span></li>
                {% else %}
                    <li>{{ step.language }}: {{ step.word }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </section>
    {% endif %}
</article>
{% endblock %}